---
import { BADGE_CONFIG } from '../consts';
---

<div id="mixBadges" class="grid grid-cols-2 gap-2 items-start min-h-[5rem] opacity-0">
  {BADGE_CONFIG.map(badge => (
    <span 
      id={`badge-${badge.id}`}
      class={`invisible ${badge.bgClass} ${badge.textClass} text-[0.75rem] sm:text-[0.875rem] font-medium px-3 py-2 sm:py-1 rounded-md border ${badge.borderClass} dark:${badge.bgClass} dark:${badge.textClass} dark:${badge.borderClass} flex items-center justify-center`}
    >
      {badge.id === 'vermiculite' || badge.id === 'castings' ? (
        <>
          <span class="sm:hidden">{badge.shortName}</span>
          <span class="hidden sm:inline">{badge.name}</span>
        </>
      ) : badge.shortName}
      <span class="badge-percentage ml-1"></span>
    </span>
  ))}
</div>